extends ../layout

block content
  h1 Курсы
  a(href=routes.newCourse()) Добавить курс
  br
  if courses.length === 0
    p Пока нет курсов
  else
    ul
      each course in courses
        li
          a(href=routes.course(course.id)) #{course.title}

