html
  head
    title Добавить курс
  body
    h1 Добавить новый курс

    if error
      p(style="color:red")= error.message

    form(action='/courses' method='post')
      div
        label Название:
          input(type='text' name='title' value=title)
      div
        label Описание:
          textarea(name='description')= description
      div
        input(type='submit' value='Создать курс')

