extends layout

block content
  h1 Добро пожаловать

  if !visited
    p Это сообщение показывается только один раз. Если хотите увидеть его снова — сотрите куки.
  else
    p Добро пожаловать снова!

  p Это демонстрационное приложение с CRUD для пользователей и курсов.
  ul
    li
      a(href=routes.users()) Перейти к пользователям
    li
      a(href=routes.courses()) Перейти к курсам

