extends layout

block content
  h1 Добро пожаловать
  if !visited
    p Это сообщение показывается только один раз.
  else
    p Добро пожаловать снова!

  if userId
    p Вы вошли как пользователь с ID #{userId}
    form(action='/logout', method='POST')
      button(type='submit') Выйти
  else
    a(href='/login') Войти

  p Это демонстрационное приложение с CRUD для пользователей и курсов.
  ul
    li
      a(href=routes.users()) Перейти к пользователям
    li
      a(href=routes.courses()) Перейти к курсам

