html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title My App
  body
    header
      h1 My App
      nav
        a(href='/') Главная
        a(href='/courses') Курсы
    main
      block content
    footer
      p <a href="https://github.com/marina">GitHub</a>

