extends ../layout

block content
  h1 Создать нового пользователя

  form(action=routes.users(), method='POST')
    label Имя:
    input(type='text', name='name', value=name)
    br
    label Email:
    input(type='email', name='email', value=email)
    br
    label Пароль:
    input(type='password', name='password')
    br
    input(type='submit', value='Создать')

